POSTGRES_DB="code_runner"
POSTGRES_USER="admin"
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
REDIS_PASSWORD=${REDIS_PASSWORD}
BASE_URL="http://http_server:8080"

HTTPSERVER_BUILD_PATH="http_server/cmd/app/main.go"
HTTPSERVER_ARGS="--config=http_server/cmd/app/config/config.yaml"

CONSUMER_BUILD_PATH="consumer/cmd/app/main.go"
CONSUMER_ARGS="--config=consumer/cmd/app/config/config.yaml"