stages:
  - build
  - unit_test
  - integration_test

variables:
  DOCKER_HOST: unix:///var/run/docker.sock

build:
  image: docker:latest
  stage: build
  script:
    - docker info
    - docker compose build
    - docker build -t code_processor consumer/usecases/services/docker_code_processor


go_unit_tests:
  image: golang:1.25.1
  stage: unit_test
  script:
    - go mod download
    - go test -race ./...


integration_tests:
  image: docker:latest
  stage: integration_test
  script:
    - docker compose --profile test up --abort-on-container-exit --exit-code-from app_test
  after_script:
    - docker compose down -v