stages:
  - build
  - unit_test
  - integration_test


build:
  stage: build
  script:
    - docker info
    - docker compose build


go_unit_tests:
  image: golang:1.22
  stage: unit_test
  script:
    - go mod download
    - go test -race ./...


integration_tests:
  stage: integration_test
  script:
    	docker compose --profile test up --abort-on-container-exit --exit-code-from app_test
  after_script:
    - docker compose down -v