stages:
  - build
  - unit_test
  - integration_test
  - deploy

variables:
  DOCKER_HOST: unix:///var/run/docker.sock
  TELEGRAM_CHAT_ID: -1003698900979

build:
  image: docker:latest
  stage: build
  script:
    - docker info
    - docker compose build
    - docker build -t code_processor consumer/usecases/services/docker_code_processor


.go-cache:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  before_script:
    - mkdir -p .go
  cache:
    key:
      files:
        - go.mod
    paths:
      - .go/pkg/mod/

go_unit_tests:
  image: golang:1.25.1
  stage: unit_test
  script:
    - go mod download
    - go test ./... -coverprofile=coverage.out -covermode count
    - go install github.com/boumenot/gocover-cobertura@latest
    - $GOPATH/bin/gocover-cobertura < coverage.out > coverage.xml
  extends: .go-cache
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml


integration_tests:
  image: docker:latest
  stage: integration_test
  script:
    - docker info
    - mkdir -p integration_logs
    - docker compose --profile test up --abort-on-container-exit --exit-code-from app_test | tee integration_logs/app_test.log
  artifacts:
    paths:
      - integration_logs/
  after_script:
    - docker compose --profile test down

deploy:
  image: docker:latest
  stage: deploy
  before_script:
    - apk add --no-cache curl
  script:
    - docker compose pull
    - docker compose up -d
  only:
    - main
  when: on_success
  after_script:
    - |
      if [ "$CI_JOB_STATUS" == "success" ]; then
        STATUS="*SUCCESS*"
      else
        STATUS="*FAILED*"
      fi

      APP_VERSION="${CI_COMMIT_SHORT_SHA}"
      

      MESSAGE="*GitLab CI/CD Notification*%0A%0A*Project:* ${CI_PROJECT_NAME}%0A*Job:* ${CI_JOB_NAME}%0A*Status:* ${STATUS}%0A*App Version:* \`${APP_VERSION}\`"

      curl -s -X POST "https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage" \
        -d "chat_id=${TELEGRAM_CHAT_ID}" \
        -d "text=${MESSAGE}" \
        -d "parse_mode=MarkdownV2"


