stages:
  - build
  - unit_test
  - integration_test

variables:
  DOCKER_HOST: unix:///var/run/docker.sock

build:
  image: docker:latest
  stage: build
  script:
    - docker info
    - docker compose build
    - docker build -t code_processor consumer/usecases/services/docker_code_processor


go_unit_tests:
  image: golang:1.25.1
  stage: unit_test
  script:
    - go mod download
    - go test ./... -coverprofile=coverage.out -covermode count
    - go install github.com/boumenot/gocover-cobertura@latest
    - gocover-cobertura < coverage.out > coverage.xml
  cache:
    key:
      files:
        - go.mod
    paths:
      - /go/pkg/mod
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml


integration_tests:
  image: docker:latest
  stage: integration_test
  script:
    - docker info
    - mkdir -p integration_logs
    - docker compose --profile test up --abort-on-container-exit --exit-code-from app_test | tee integration_logs/app_test.log
  artifacts:
    paths:
      - integration_logs/
  after_script:
    - docker compose --profile test down