apiVersion: 1

providers:
  - name: 'ansible-provisioned'
    orgId: {{ grafana.org_id }}
    folder: 'Provisioned'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: false
    options:
      path: {{ grafana.dashboard_dir }}
      foldersFromFilesStructure: false